/* -------1200--------- */

@media only screen and (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        min-width: 1500px !important;
    }

}











/* -------768--------- */

@media only screen and (max-width: 767px) {
    .sec-cont-disp{
        display:block;
        padding-bottom: 0px;
    }
    .sec-cont-head {
        color: #fff !important;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        padding: 0px 20px !important;
        text-decoration:none;
        text-transform: capitalize !important;
    }
    .sec-slider-img {
        width: 100%;
        height: auto;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        display: inline-block;
        width: 50px !important;
        height: 50px !important;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .carousel-control-next, .carousel-control-prev {
      
        width: 47px !important;  
        opacity: 1 !important;
    }
    .sec-imh-img{
        width: 100%;
    }
    .sec-imh-lef{
        margin-left: 0px;
    }
    .gallery-container {
        width: 100%;
    }
    .gallery-item {
        flex-basis: 49.80%;
        margin-bottom: 3px;
    }
    .lightbox-content {
        width: 80%;
        height: 60%;
        margin: 15% auto;
    }
    .sec-footer-fle {
        display: block;
    }
.sec-about-bgg {
    padding: 30px 10px 30px 10px;
    width: 100%;
    margin-left: 0px;
    margin-top: -0px;
}
.sec-imh-img {
    margin-left: 0px;
}
.sec-extr-h {
    font-size: 40px;
    line-height: 45px;
}
.sec-our-mai-h {
    font-size: 35px;
}
.sec-boo-slid-h {
    font-size: 34px;
}
.footer-ww-img{
    width: 100%;
}
.sec-extr-p {
    font-size: 22px;
}
.sec-all-p {
    padding: 5px 0px;
}
.sec-about-caa {
    font-size: 20px;
}
.our-h-sec {
    font-size: 25px;
}
.our-p-sec {
    font-size: 16px;
}
.sec-ov-img {
    text-align: center;
}
.sec-book-slid-h {
    font-size: 15px;
}
.sec-book-btn {
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 10px;
}
.sec-maib-slide-book {
    padding: 3px 0px;
    width: 85%;
}
.sec-more-a-p {
    font-size: 16px;
}
.sec-polt-bg {
    padding-top: 20px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 85%;
}
blockquote p {
    font-size: 13px;
}
#quote-carousel .carousel-indicators li {
    width: 25px !important;
    height: 25px !important;
}
.sec-insta-h {
    font-size: 40px;
}
.sec-insta-p {
    font-size: 15px;
}
.eapps-instagram-feed-title {
    font-size: 19px;
}
.sec-insta-bgg , .sec-footer-bgg {
    padding: 10px;
}
#quote-carousel {
    padding: 0px 0px 30px 0px;
}
.sec-test-bgg {
    padding: 0px 0px 80px 0px;
    height: auto;
}
.sec-abbb-hh {
    font-size: 50px;
}
.sec-abab-pp {
    font-size: 60px;
}
.sec-stoy-h {
    font-size: 65px;
    display: none;
}
.sec-stoy-p {
    font-size: 50px;
    text-align: center;
}
.sec-stor-padd {
    padding: 20px 0px;
}
.sec-col-ppp {
    padding: 0px 10px;
    font-size: 17px;
}
.container.sec-stor-padd2 img {
    width: 100%;
    padding: 10px;
}
.sec-stor-padd2 {
    padding: 0px 0px 40px 0px;
    text-align: center;
}
.sec-valu-bgg {
    padding: 20px 0px 20px 0px;
}
.sec-valu-hh {
    font-size: 38px;
    margin: 0;
}
.secdiplay-valu {
    display: block;
}
.sec-aall-img img {
    padding-top: 25px;
}
.sec-five-pp {
    font-size: 20px;
}
.sec-team-bggg-padd {
    padding: 20px 0px;
}
.sec-team-ppp {
    font-size: 35px;

}
.sec-team-hhh{
    display: none;
}
.sec-come-h {
    font-size: 38px;
    line-height: 46px;
    padding-top: 5px !important;
}
.sec-ser-hh {
    font-size: 17px;
    line-height: 25px;
}
.sec-sev-book-h {
    font-size: 16px;
    line-height: 25px;
}
.col-lg-3.sec-cent-c {
    text-align: center;
}
.sec-sev-book-p {
    font-size: 20px;
    line-height: 25px;
}
.sec-erv-book {
    padding: 20px 0px;
}
}















@media (max-width: 480px) {
    .gallery-item {
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content {
        width: 90%;
        margin: 20% auto;
    }
}
@media (min-width: 768px){
.navbar-collapse.collapse {
    display: flex!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
}